*{
    box-sizing: border-box;
}

body{
    height: 100vh;
}

main{
    height: 100%;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-item{
    display: none;
    height: 100%;
}

.slider-controller{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:16px 0px;
    z-index: 1000;
}

.slider-container{
    width: 70%;
    position: relative;
    overflow: hidden;
    height: 350px;

}

.thumbnail-container{
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.slider-thumb{
    height: calc(100% / 5);
    position: relative;
    border: 3px solid lightgrey;
    box-sizing: content-box;
    overflow: hidden;
}



.overlay:before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.72);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.slider-thumb.overlay{
    border: 0px;
}

.slider-thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


.active{
    display: block;
}

.hidden{
    opacity: 0;
}
